html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background: #444;
  color: #ddd;
  outline: none;
}
input { outline: none; }
button { outline: none; }

.bg-white { background: #fff; }
.c-white { color: #fff; }
.btn-white {
  background: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  cursor: pointer;
}
.btn-white:hover {
  background: #ddd;
  border: 1px solid #ddd;
  color: #444;
}

.bg-black { background: #444; }
.c-black { color: #444; }

.bg-grey { background: #aaa; }
.c-grey { color: #aaa; }

.bg-light-grey { background: #ddd; }
.c-light-grey { color: #ddd; }

.bg-blue { background: #13a; }
.c-blue { color: #13a; }

.bg-light-blue { background: #6af; }
.c-light-blue { color: #6af; }

.bg-purple { background: #aaf; }
.c-purple { color: #aaf; }


.f-t1 {
  font-size: 18px;
  font-weight: 500;
}
.f-t2 {
  font-size: 14px;
  font-weight: 400;
}
.f-t3 {
  font-weight: 400;
}

.f-c {
  font-size: 12px;
}


.df { display: flex; }
.df-jcc { justify-content: center; }
.df-jcsb { justify-content: space-between; }
.df-jcse { justify-content: space-evenly; }
.df-jcfe { justify-content: flex-end; }
.df-aic { align-items: center; }
.df-aife { align-items: flex-end; }
.df-wrap { flex-wrap: wrap; }
.df-wrap-reverse { flex-wrap: wrap-reverse; }
.df-column { flex-direction: column; }
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer { cursor: pointer; }
